!!! 5
html
  head
    - try{ 
      title  #{title} - Node Hispano
    - }catch(exc) {
      title  Node Hispano
    - }
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    link(rel='stylesheet', title='Solarized - Dark', href='styles/solarized_dark.css')
    link(rel='stylesheet', title='Solarized - Dark', href='styles/default.css')
    script(src="http://code.jquery.com/jquery.min.js",type="text/javascript")
    -try {
    - if (styles !== 'undefined') {
      - styles.forEach(function(s){
        link(rel="stylesheet",href="styles/" + s)
      - })
    - }
    - } catch(exc) {}
    script(src='highlight.pack.js')
    script
        hljs.initHighlightingOnLoad();
    body.container
      .content
        header.container.row(role='banner')
          h1
            a(href='/') Node Hispano
          h2
            a.twitter(href='https://twitter.com/NodeHispano') twitter
            a.rss(href='http://feeds.feedburner.com/nodehispano') RSS Feed
            a.youtube(href='http://youtube.com/nodehispano', youtube='Youtube', channel='Channel')
            a.github(href='https://github.com/github') Github
        section.body-index!= body
        footer
          p NodeHispano &copy;