!!! 5
html
  head
    title  Node Hispano
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
    link(rel='stylesheet', title='Solarized - Dark', href='styles/solarized_dark.css')
    script(src='highlight.pack.js')
    script
        hljs.initHighlightingOnLoad();
        
    body.container
      .content
        header.container.row(role='banner')
          h1
            a(href='/') Divya Manian
          h2
            a.twitter(href='https://twitter.com/divya') twitter
            a.rss(href='http://feeds.feedburner.com/nimbupani') RSS Feed
            a.youtube(href='http://youtube.com/nimbupani', youtube='Youtube', channel='Channel')
            a.github(href='https://github.com/nimbupani') Github
          //<div  class="logo two columns">
    <img src="http://static-content.nodehispano.com/wp-content/uploads/logo_nodehispano.jpg" />
  </div>
  <nav class="ten columns right actions last">
    <ul >
      <li>
        <a href="/"> Inicio</a>
      </li>
      <li>
        <a href="/"> Inicio</a>
      </li>
      <li>
        <a href="/"> Inicio</a>
      </li>
    </ul>
  </nav> 
        .blog-index
          article
            nav.article
              a.previous(href='/twittering-with-d3.html', title='Twittering with D3') ❬
            header
              time(datetime='2012-01-01T10:05:00-08:00', pubdate='')
                span.month Jan
                span.day 01
                span.year 2012
              h1.entry-title
                a(href='/mustache.html') Hosting y node.js 
            .entry-content
              p
                | La conversión entre
                code  humanos 
                | y no humanos diariamente se ven afectados por el simple hecho de que no puede ser
                | cierto
              p
                | sin embargo la lucha es constante
              pre.
                
            footer
              p.meta
                | Este post fue escrito por
                a(href='href')
                | en
                time(datetime='2012-01-01T10:05:00-08:00', pubdate='')
                  span.month Ene
                  span.day 01
                  span.year 2012
                | en
                span.categories
                  a.category(href='/categories/web-development/') Web Development
                | con
                a(href='/mustache.html#disqus_thread', data-disqus-identifier='http://nimbupani.com/mustache.html')  1 Comment
                | . Si te gustaria actualizar o modificar haz un
                a(href='https://github.com/nimbupani/nimbupani.github.com/blob/source/source/_posts/2012-01-01-mustache.md') pull request
                | .
          pre.
            \n                  
