
.five.columns.centered
  section.dashboard.main.white
    .modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1;')
      .modal-header
        h3
          | Login
        div.modal-body
          form(action='/login', method='POST',id="formLog",class="nice custom")
            legend Ingresa tus datos
            input(type='hidden', name='redir', value=redir)
            input(type='hidden',name='user[no_js]',value='true')
            input(type='hidden',name='csrf',value='#{token}')
            - var time = new Date().toLocaleDateString();
              input(type='hidden', name='date', value= time)
            label Username:
            input(type="text",name="user[username]",id='login', class="input-text",required)
            label Password:
            input(type="password",name="user[password]",id='password', class="input-text",required)
            label(for="remember_me")
              input#remember_me(type="checkbox",name="remember_me", id="remember_me" ,style="display: none;")
              span(class="custom checkbox")
              |  No cerrar sesión.
            button(type="reset", class="white button radius") Cancel
            button(type="submit",id="subLog", class="alter button radius") Entrar
